
body
{
	margin: 0;
	width: 100%;
	background-color: #96C9E3;
}

h3
{
	margin-top: 2px;
	margin-left: 10px;
	margin-bottom: 2px;
}

.middle
{
	width: 100%;
	padding: 0;
}

#generatedate
{
	font-size: 10px;
	margin: 0px;
	margin-left: 15px;
}

#mapview
{
	width: 100%;
	margin: 0;
	line-height: 0;
	border: 1px solid black;
	background-color: #DBDBDB;
	white-space:nowrap;
}

#info
{
	float: right;
	height: 45px;
	width: 120px;
	position: absolute;
	right: 0;
	top: 0;
}

.imgmap
{
	margin-bottom: 0px;
	padding-top: 0px;

	line-height: 0;
}

#topbar
{
	height: 65px;
}

#legend
{
	position: absolute;
	top: 50px;
	right: 5px;
	background: rgba(255,255,255,0.75);
	border: 1px solid black;
	visibility: hidden;
}

#waypoint
{
	position: relative;
	z-index: 10;
}