
body
{
	margin: 0;
}

.cursor {	
	background-color: black;
	border: 1px solid black;
	text-align: center;
	color: white;
}

#leftcursor
{
	float: left;
	width: 100px;
}

#rightcursor
{
	float: left;
	width: 100px;
}

#mapview
{
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
	line-height: 0;
}

.imgmap
{
	margin-bottom: 0px;
	padding-top: 0px;

	line-height: 0;
}